body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sliderWrapper {
  width: 800px;
  height: 400px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* Button Left */
#sliderWrapper #prevBtn {
  position: absolute;
  left: 10px;
  top: calc(100% / 2 - 10px);
  height: 40px;
  width: 40px;
  z-index: 2;
  transition: 0.3s;
}

#sliderWrapper #prevBtn::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: calc(100% / 2 - 10px);
  left: calc(100% / 2 - 10px);
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  transform: rotate(-45deg);
  cursor: pointer;
}

#sliderWrapper #prevBtn:hover:before {
  border-top: 5px solid #cdcdcd;
  border-left: 5px solid #cdcdcd;
}

/* Button Right */
#sliderWrapper #nextBtn {
  position: absolute;
  right: 10px;
  top: calc(100% / 2 - 10px);
  height: 40px;
  width: 40px;
  z-index: 2;
  transition: 0.3s;
}

#sliderWrapper #nextBtn::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: calc(100% / 2 - 10px);
  left: calc(100% / 2 - 10px);
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  transform: rotate(135deg);
  cursor: pointer;
}

#sliderWrapper #nextBtn:hover:before {
  border-top: 5px solid #cdcdcd;
  border-left: 5px solid #cdcdcd;
}

/* Banner */
#slider {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  transition: 0.3s;
}

#slider .sliderItem {
  width: 100%;
  height: 100%;
  user-select: none;
  image-rendering: pixelated;
}

/* Direct */
#directs {
  display: flex;
  position: absolute;
  bottom: 20px;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#directs .direct {
  background: #6c6c6c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#directs .direct:hover {
  background-color: #cdcdcd;
}

#directs .active {
  background-color: #ffffff;
}